body {
    background-color: rgb(240, 159, 159);
}

.ul-1 {
    list-style: lower-roman;
    background-color: rgb(175, 164, 164);
    list-style-position: inside;
    border: 2px solid black;
    /* IF WE WANT TO ADD IMAGES INSTEAD OF MARKER, WE USE THIS PROPERTY BELOW! */
    /* list-style-image: url("LA.png"); */

    /* We can use list-style shortcut like this:  */
    /* list-style: disc inside url("LA.png"); */
}

.ul-2 {
    margin-top: 4rem;
    list-style-type: "🎀";
    background-color: rgb(175, 164, 164);
    list-style-position: inside;
    border: 2px solid black;
    /* IF WE WANT TO ADD IMAGES INSTEAD OF MARKER, WE USE THIS PROPERTY BELOW! */
    /* list-style-image: url("LA.png"); */

    /* We can use list-style shortcut like this:  */
    /* list-style: disc inside url("LA.png"); */
}
